.flex{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: box;
}
.center{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}
.center2{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}
.center1{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
.border-all{
  border: 1px solid #cFcFcF;
}
.border-left{
  border-left: 1px solid #cFcFcF;
}
.border-right{
  border-right: 1px solid #cFcFcF;
}
.border-top{
  border-top: 1px solid #cFcFcF;
}
.border-bottom{
  border-bottom: 1px solid #cFcFcF;
}
@media(-webkit-min-device-pixel-ratio: 2){
  .border-ios.ios{
    border-width: 0.5px !important;
  }
}









